// @import 'global/vars.scss';
// @import 'fonts/fonts.scss';
// @import 'fonts/icons.scss';
// @import 'global/mixins.scss';
@import 'global/global.scss';

// //layoutt
// @import 'layout/header';


// // Components
//@import 'components/scrollContainer';